.user-profile-box {
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    min-height: 100px;
    margin-bottom: 20px;

    input, label {
        margin-right: 5px;
    }
    .welcome-message {
        width: fit-content;
        /* 1. Define the gradient background */
        background: linear-gradient(to right, #ff7e5f, #7b93fe);
        
        /* 2. Clip the background to the text */
        -webkit-background-clip: text;
        background-clip: text;
        
        /* 3. Make the text color transparent to show the background */
        -webkit-text-fill-color: transparent;
        color: transparent;
    }
}